*{
    box-sizing: border-box;
}
body{
    padding: 0%;
    margin: 0%;
    min-height: 100vh;
    color: white;
}
.crew-cont{
    background-image: url(../assets/crew/background-crew-desktop.jpg);
    min-height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}
.crew{
    padding: 20px;
    /* height: 50vh; */
}
.member{
    display: flex;
    height: 100%;
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 rgb(44, 27, 27);
    text-align: center;
    padding: 0px 10px;
    border-radius: 10px;
}
.member section{
    width: 50%;
}
.crew-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.member .role{
    color: grey;
}
.member p{
    line-height: 20px;
    /* padding: 0px 30px; */
}
.member img{
    width: 80% !important;
    /* border-radius: 50%; */
}
.dot-cont{
    padding: 0 30px;
}
.dot{
    width: 15px;
    height: 15px;
    background-color: grey;
    margin: 0px 3px;
    display: inline-block;
    border-radius: 50%;
}
.crew-img{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:900px) {
    .member{
        flex-direction: column-reverse ;
        justify-content: center;
        align-items: center;
    }
    .member section{
        width: 100%;
        text-align: center;
        margin: auto;
        display: flex;
        align-items: center;
    }
    .member img{
        margin: auto;
    }
}