header{
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}
.nav-links{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    background-color: rgb(128, 128, 128);
    padding:0px 50px;
}
.nav-links li{
    padding: 20px 30px;
    color: white;
}
.active{
    border-bottom: 3px solid white;
}
a{
    text-decoration: none;
    color: white;
}
.toggle-btn{
    position: absolute;
    right: 1rem;
    display: none;
    top: 0px;
}

@media screen and (max-width:900px) {
    .toggle-btn{
        display: block;
    }
    .nav-links{
        display: none;
        flex-direction: column;
        text-align: center;
        font-weight: bolder;
    }
    .navbar-active{
        display: flex;
    }
    .navbar{
        flex-direction: column;
        justify-content: space-between;
        align-items:normal;
        /* position: fixed;
        width: 100%; */
    }
    
}